<%= form_with model: [group, event_mail], local: true do |f| %>
  <%= render 'layouts/errors', obj: event_mail %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control event_mail_title" %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control event_mail_content" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
