<%= form_with model: book, local: true do |f| %>

  <%= render 'layouts/errors', obj: book %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>
  <div class="form-group">
    <%= f.label :score %>
    <div id="raty_edit_form" data-raty="<%= book.score %>"></div>
  </div>
  <div class="form-group">
    <%= f.label :tag %>
    <%= f.text_field :tag, class: 'form-control book_tag' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>

<% end %>

<script>
  document.addEventListener("turbolinks:load",() => {

    const ratyForm = document.getElementById("raty_edit_form");

    const dataScore = ratyForm.getAttribute("data-raty");
    const ratyContainer = document.createElement("div");

      raty(ratyContainer, {
        number: 5,
        hints: ['1', '2', '3', '4', '5'],
        scoreName: 'book[score]',
        starOn: <%= JSON.generate(asset_path('star-on.png')).html_safe %>,
        starOff: <%= JSON.generate(asset_path('star-off.png')).html_safe %>,
        readOnly: true,
        score: dataScore
      });

    ratyForm.replaceWith(ratyContainer);

  });
</script>